<div class="container">
    <button data-toggle="modal" data-target="#logoutconfirm" class="btn btn-danger btn-lg pull-right"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
    <button ng-click="btnMenu()" class="btn btn-default btn-lg pull-left"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
    <img class="logo-img" src="img/logo.png">
<div class="panel panel-default">
    <div class="panel-heading"><button ng-click="btnMenu()" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <h3>Hosts</h3></div>
    <div class="panel-body">
        <div class="form-group">
            <input type="text" class="form-control input-lg" ng-model="search" placeholder="Search">
          </div>
        <ul class="list-group">
            <a data-toggle="modal" data-target="#hostdetail" class="list-group-item" ng-repeat="h in hosts | filter : search">{{ h.host_hostname }} - {{ h.host_ip }}</a>
        </ul>
    </div>
</div>
</div>
<div ng-include="'partials/modal_logout.html'"></div>
<div ng-include="'partials/modal_hostdetail.html'"></div>