<div class="container">
    <img class="logo-img" src="img/logo.png">
<div class="panel panel-default">
  <div class="panel-heading"><h3>Login</h3></div>
  <div class="panel-body">
      <form name="loginForm" novalidate>
          <div class="alert alert-danger" ng-show="error">
            Login Error!
          </div>
          <div class="form-group" ng-class="{ 'has-error' : loginForm.emaill.$invalid && loginForm.emaill.$touched }">
            <input type="email" class="form-control input-lg" name="emaill" ng-model="email" placeholder="Email" ng-required="true">
          </div>
          <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.password.$touched }">
            <input type="password" class="form-control input-lg" name="password" ng-model="password" placeholder="Password" ng-required="true">
          </div>
          <button ng-click="loginForm.$valid && btnLogin()" class="btn btn-success btn-lg">Login</button>
      </form>
    </div>
    </div>
</div>